body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

.background-section {
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
}

.quote-section {
    text-align: center;
    color: white;
    font-size: 2em;
    padding: 50px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.quote {
    margin: 50px 0;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.cost-calculator button {
    background-color: #397dc6; /* Green background */
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    cursor: pointer;
}

.cost-calculator button:hover {
    background-color: #0000ff; /* Darker green on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px); /* Lifts the button slightly */
}
.cost-calculator {
    margin-bottom: 0px; /* Spacing between button and first picture */
    text-align: center;
    padding: 40px 20px; /* Adds padding to center the content within the section */
    background-image: url('./Images/clouds.jpg'); /* Background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}
.sky-reflection {
    height: 100vh; /* Full viewport height */
    background-image: url('./Images/NpSun.png'); /* Use the NpSun.png image */
    background-size: cover;
    background-position: center;
    transform: rotate(180deg); /* Flip the image upside down */
    position: relative;
    top: -10px; /* Adjust this to make it seamless */
    z-index: -1; /* Puts it behind other content */
}