body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

.background-section {
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
}

.section1 {
    background-image: url('./Images/Disaster1.jpg');
}

.section2 {
    background-image: url('./Images/Disaster2.jpg');
}

.section3 {
    background-image: url('./Images/Disaster3.jpg');
}

.section4 {
    background-image: url('./Images/ClimateRefugees4.jpg');
}

.section5 {
    background-image: url('./Images/GretaSpeech.jpg');
}

.quote-section {
    text-align: center;
    color: white;
    font-size: 2em;
    padding: 50px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.quote {
    margin: 50px 0;
}